{% extends "layout.html" %}

{% block title%}
    S.M.A
{% endblock %}


{% block body %}
    <div id="container">
        <div class="logo-container">
            <img src="{{url_for('static', filename='images/avantia.png')}}" alt="Avantia">
            <h2>Sistema para monitoramento de aglomeração</h2>
        </div>

        <div class="buttons-container">
            <a href="/login"><button type="button" class="btn btn-primary">Entrar</button></a>
            
            <a href="/register"><button type="button" class="btn btn-primary">Cadastrar</button></a>
        </div>
    </div>
{% endblock %}